* {
    margin: 0px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.linksDiv {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hash {
    margin-top: 35px;
    font-weight: 500;
    font-size: 20px;
}

.link {
    margin: 10px;
    font-weight: 500;
    font-size: 20px;
}

@media(max-width: 900px) {
    .hash {
        display: none;
    }
}
